<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!--<a class="navbar-brand" [routerLink]="['dashboard']">CRM System</a>-->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/workers']">Pracownicy</a>
        <!--<a class="nav-link" [routerLink]="[{outlets: {aux: 'workers'}}]">Pracownicy</a> // <3>-->


      </li>
    </ul>
  </div>
</nav>


