<script src="workers.component.ts"></script>workers

<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-outline-primary btn-lg btn-block">Dodaj nowego pracownika</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="row mt-5">-->
  <!--&lt;!&ndash;<ng2-smart-table&ndash;&gt;-->
  <!--&lt;!&ndash;class=""&ndash;&gt;-->
  <!--&lt;!&ndash;[settings]="settings"&ndash;&gt;-->
  <!--&lt;!&ndash;[source]="data"&ndash;&gt;-->
  <!--&lt;!&ndash;&gt;</ng2-smart-table>&ndash;&gt;-->
  <!--<div class="col">-->
    <!--<div class="list-group ">-->
      <!--<a-->
        <!--[routerLink]="['/workers/administration']"-->
        <!--class="list-group-item list-group-item-action flex-column align-items-start ">-->
        <!--<div class="d-flex w-100 justify-content-between">-->
          <!--<h5 class="mb-1">Administration</h5>-->
        <!--</div>-->
        <!--Manager : Rax-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<div class="list-group ">-->
      <!--<a [routerLink]="['finance']" class="list-group-item list-group-item-action flex-column align-items-start ">-->
        <!--<div class="d-flex w-100 justify-content-between">-->
          <!--<h5 class="mb-1">Finance</h5>-->
        <!--</div>-->
        <!--Manager : Rax-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row mt-2">-->
  <!--&lt;!&ndash;<ng2-smart-table&ndash;&gt;-->
  <!--&lt;!&ndash;class=""&ndash;&gt;-->
  <!--&lt;!&ndash;[settings]="settings"&ndash;&gt;-->
  <!--&lt;!&ndash;[source]="data"&ndash;&gt;-->
  <!--&lt;!&ndash;&gt;</ng2-smart-table>&ndash;&gt;-->

  <!--<div class="col">-->
    <!--<div class="list-group ">-->
      <!--<a [routerLink]="['information-technology']" class="list-group-item list-group-item-action flex-column align-items-start ">-->
        <!--<div class="d-flex w-100 justify-content-between">-->
          <!--<h5 class="mb-1">IT</h5>-->
        <!--</div>-->
        <!--Manager : Rax-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<div class="list-group ">-->
      <!--<a [routerLink]="['sales']" class="list-group-item list-group-item-action flex-column align-items-start ">-->
        <!--<div class="d-flex w-100 justify-content-between">-->
          <!--<h5 class="mb-1">Sales</h5>-->
        <!--</div>-->
        <!--Manager : Rax-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->

<!--&lt;!&ndash;<router-outlet name="aux"></router-outlet>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;&ndash;&gt;-->

<!--test workers-->
